In [1]:
import pandas as pd

# 결과 확인을 용이하게 하기 위한 코드
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

#경고 에러 무시
import warnings
warnings.filterwarnings('ignore')

In [28]:
mimic_path = '/data/MIMIC_III/'

# LABEVENTS
# ITEMID로 LABEL, LOINC_CODE 찾기
lab = pd.read_csv('/data/MIMIC_III/D_LABITEMS.csv')
lab = lab[['ITEMID', 'LABEL', 'LOINC_CODE']]
lab['TYPE'] = 'LAB'


# PRESCRIPTIONS
# NDC로 DRUG, DRUG_NAME_POE 찾기
pre = pd.read_csv('/data/MIMIC_III/PRESCRIPTIONS.csv')
pre = pre[['NDC', 'DRUG']]
# 'FORMULARY_DRUG_CD'는 안쓰기로 함.
# 'DRUG_NAME_POE'도 굳이...
pre['LOINC_CODE']=0
pre.rename(columns = {'NDC':'ITEMID', 'DRUG':'LABEL'}, inplace = True)
pre['TYPE'] = 'PRE'


# PROCEDURES
# ITEMID로 LABEL 찾기
pro = pd.read_csv('/data/MIMIC_III/D_ITEMS.csv')
pro = pro[['ITEMID', 'LABEL']]
pro['LOINC_CODE'] = 0
pro['TYPE'] = 'PRO'


# lab, pre, pro
items = pd.concat([lab,pre,pro])


# method1
data = pd.read_csv('/project/guri/ForPaper/Result2,3_guri_loss.csv') # lambda0: method1_부록(diff) score, lambda1: method1*entropy score
# data[data['feature'] == itemid]['method1_entropy']


data2 = pd.read_csv('/project/guri/ForPaper/Result4_loss.csv')

# ITEM SEARCH, score

In [50]:
itemid = int(input('itemid: '))

# Item Search
# if items[items['ITEMID']==itemid]['TYPE'].unique() == 'LAB':
#     items[items['ITEMID']==itemid]['TYPE'].unique()
#     items[items['ITEMID']==itemid]['LABEL'].unique()
# else:
#     items[items['ITEMID']==itemid]['TYPE'].unique()
#     items[items['ITEMID']==itemid]['LABEL'].unique()
items[items['ITEMID']==itemid]['TYPE'].unique()
items[items['ITEMID']==itemid]['LABEL'].unique()
    
# score
# data[data['feature'] == itemid]['lambda1'] #method1_entropy
# data[data['feature'] == itemid]['lambda0'] #method1_부록
# data2[data2['feature'] == itemid]['근_lambda1'] #method2_ 근diff * entropy

itemid: 904224461

array(['PRE'], dtype=object)

array(['Docusate Sodium', 'Docusate', 'Docusate Sodium (Liquid)',
       'Docusate ', 'Docusate Sodiu', 'Docusat', 'Docusate Sodi',
       'Docusate Sod', 'Docus', 'Docusate S', 'Docusa'], dtype=object)

          feature     원_lambda1  근_lambda1
0               0 -5.810512e-03  -0.032274
1     10019001303 -1.229745e-03  -0.038384
2     10019001501 -0.000000e+00  -0.000061
3     10019001617 -6.303170e-05   0.002501
4     10019001654 -1.145199e-05  -0.018708
...           ...           ...        ...
4063    998033105 -9.421623e-09   0.000649
4064    998035415 -1.376901e-06  -0.003802
4065    998035515  2.824536e-07  -0.000695
4066    998061505 -1.015552e-05  -0.010785
4067    998063006 -2.109732e-06  -0.007954

[4068 rows x 3 columns]

121    0.07532
Name: method1_entropy, dtype: float64

In [5]:
# ICD9_CODE로 SHORT_TITLE찾기
pd.read_csv('/data/MIMIC_III/D_ICD_DIAGNOSES.csv')

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."
...,...,...,...,...
14562,14432,V7399,Scrn unspcf viral dis,Special screening examination for unspecified ...
14563,14433,V740,Screening for cholera,Screening examination for cholera
14564,14434,V741,Screening-pulmonary TB,Screening examination for pulmonary tuberculosis
14565,14435,V742,Screening for leprosy,Screening examination for leprosy (Hansen's di...
14566,14436,V743,Screening for diphtheria,Screening examination for diphtheria

In [8]:
pd.read_csv('/data/MIMIC_III/PROCEDURES.csv')

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,264,851,Canthotomy,Canthotomy
1,265,852,Blepharorrhaphy,Blepharorrhaphy
2,266,859,Adjust lid position NEC,Other adjustment of lid position
3,267,861,Lid reconst w skin graft,Reconstruction of eyelid with skin flap or graft
4,268,862,Lid reconst w muc graft,Reconstruction of eyelid with mucous membrane ...
...,...,...,...,...
3877,3344,9959,Vaccination/innocula NEC,Other vaccination and inoculation
3878,3345,9960,Cardiopulm resuscita NOS,"Cardiopulmonary resuscitation, not otherwise s..."
3879,3346,9961,Atrial cardioversion,Atrial cardioversion
3880,3347,9962,Heart countershock NEC,Other electric countershock of heart
3881,3348,9963,Closed chest card massag,Closed chest cardiac massage

In [10]:
pd.read_csv('/data/MIMIC_III/PROCEDURES_ICD.csv')

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
0          944       62641   154460        3       3404
1          945        2592   130856        1       9671
2          946        2592   130856        2       3893
3          947       55357   119355        1       9672
4          948       55357   119355        2        331
...        ...         ...      ...      ...        ...
240090  228330       67415   150871        5       3736
240091  228331       67415   150871        6       3893
240092  228332       67415   150871        7       8872
240093  228333       67415   150871        8       3893
240094  228334       67415   150871        9       3722

[240095 rows x 5 columns]

In [12]:
pd.read_csv('/data/MIMIC_III/PROCEDUREEVENTS_MV.csv')

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
0,379,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
1,380,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225454,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
2,381,29070,115071,232563.0,2145-03-12 23:05:00,2145-03-18 20:01:00,225792,8456.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
3,382,29070,115071,232563.0,2145-03-12 23:36:00,2145-03-12 23:37:00,225402,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
4,383,29070,115071,232563.0,2145-03-13 01:27:00,2145-03-16 16:00:00,224560,5193.0,min,Right IJ,...,Invasive Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258061,257337,41958,182711,246007.0,2155-08-09 01:51:00,2155-08-10 11:20:00,225204,2009.0,min,Right Antecube,...,Invasive Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
258062,257338,41958,182711,246007.0,2155-08-09 01:57:00,2155-08-09 01:58:00,225402,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
258063,257339,41958,182711,246007.0,2155-08-09 01:57:00,2155-08-09 01:58:00,225459,1.0,None,NaN,...,Imaging,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
258064,257340,41958,182711,246007.0,2155-08-09 01:57:00,2155-08-09 01:58:00,225966,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,1,Rewritten,NaN,RN,2155-08-09 02:20:00
258065,257341,41958,182711,246007.0,2155-08-09 02:20:00,2155-08-09 02:21:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN